@import "./components/Header.css";
@import "./components/Footer.css";
@import "./components/Dashboard.css";

.header {
  grid-area: header;
  text-align: center;
}

.body-container {
  grid-area: body-container;
  text-align: center;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 90px 120px auto 120px 90px;
  grid-template-rows:  80px auto 80px;
  grid-template-areas:
    "header header header header header"
    ". body-container body-container body-container ."
    "footer footer footer footer footer"
}
