@import "./components/Header.css";
@import "./components/Footer.css";
@import "./components/Dashboard.css";
@import "./components/MonthTab.css";

body {
  font-family: 'Roboto', sans-serif;
  background-color: #c7d4cb;
  color: #413E3E;
}

.header {
  grid-area: header;
  text-align: center;
}

.body-container {
  min-height: 625px;
  grid-area: body-container;
  text-align: center;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 10% 120px auto 120px 10%;
  grid-template-rows:  150px auto 120px;
  grid-template-areas:
    "header header header header header"
    ". body-container body-container body-container ."
    "footer footer footer footer footer"
}
