.expense-container {
  border: 5px solid black;
}

.expense-block-title {

}

.expense-block-subtitle {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  display: grid;
  grid-template-columns: auto 80px 100px 120px 45px;
}

.expense-block {
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: auto 80px 100px 120px 45px;
  margin-top: 16px;
}

.expense-description {
  text-align: left;
  padding-left: 16px;
}

