.expense-container {

}

.expense-block-title {
  padding: 20px 0px;
  margin-bottom: 0px;
  background-color: lightgray;
}

.expense-block {
  padding-top: 15px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 100px auto 100px 50px;
  grid-template-rows: 90px;
  grid-column-gap: 10px;
}

.expense-container .expense-block:nth-child(odd) {
  background-color: ivory;
}

.expense-container .expense-block:nth-child(even) {
  background-color: #E8E7E7;
}

.expense-description {
}

.expense-table-align {
  align-self: center;
  text-align: left;
}

.button-block {
  justify-self: center;
}

.button {
  width: 30px;
  height: 30px;
}
