.footer {
  padding: 20px 0px;
  background-color: #b5ffd5;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

ul {
  list-style-type: none;
}

.footer-top {
  margin-bottom: 10px;
}

.footer-top a {
  color: #413E3E;
}

.footer-right {
}
